
<!-- 
    load an image... 
    translate image arbitrary amount
    scale image
-->
<!DOCTYPE html>
<html>
<head>
    <title>Test Image</title>
</head>
<body>
    <div id="qrcodeCanvasWrapper" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 30px">
        <div id="arcode-container" class="valign center" style="width: 100%;" ></div>
    </div>
    <div id="image-container" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" ></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="${url_for('static', filename='vendor/jquery-2.0.3.min.js')}$"></script>
    <script type="text/javascript" src="${url_for('static', filename='js/follower-armarker.js')}$"></script>
    <script type="text/javascript" src="${url_for('static', filename='js/follower-image.js')}$"></script>
    <script type="text/javascript">
        showImage("${image_url}$", 3657, 1091)
        positionImage(0.4, 0.4, 79 / 1091)
    </script>
</body>
</html>