<!DOCTYPE html>
<html>
    <head>
        <title>Screen ${follower_id}$</title>
        <!-- thanks https://github.com/jeromeetienne/jquery-qrcode/blob/master/examples/basic.html !!! -->
    </head>
    <body>
        <script type="text/javascript" src="${url_for('static', filename='vendor/jquery-2.0.3.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='vendor/jeromeetinne/jquery-qrcode/jquery.qrcode.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='vendor/jeromeetinne/jquery-qrcode/qrcode.js')}$"></script>
        <div id="qrcodeCanvasWrapper" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 60px">
            <div id="qrcodeCanvas" align="center"></div>
            <div id="arcode-container" align="center" ></div>
        </div>
        <div id="image-container" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" ></div>
        <div id="chat-text">
        </div>
        <script>
        // display our qr code!
        var size = Math.min(document.getElementById('qrcodeCanvasWrapper').offsetHeight - 120, document.getElementById('qrcodeCanvasWrapper').offsetWidth) - 120
        size = Math.max(size, 120)
        jQuery('#qrcodeCanvas').qrcode({
            text: "${qr_code}$",
            width: size,
            height: size
        }); 
        </script>
        <script type="text/javascript" src="${url_for('static', filename='vendor/reconnecting-websocket.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/pubsub.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/pubsub-client.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/pubsub-preview.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/follower-armarker.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/follower-image.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/follower.js')}$"></script>
        <script>
            startFollowing("${follower_id}$", "${url_for('static', filename='images/3x3/')}$")
        </script>
    </body>
</html>