<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <br/><br/>
        <center>
            <a href="/leader" class="btn btn-primary" role="button">Lead</a>
            <a href="/followerID" class="btn btn-success" role="button">Follow</a>
            <a href="/follower" class="btn btn-success" role="button">Follower preview</a> <!-- displays marker 0, can be intrepreted by client however they please, dynamically updating default is provided, to be desplayed in print as support, by sleeping or idle devices,  -->
        </center>
    </body>
</html>