<!DOCTYPE html>
<html>
    <head>
        <title>Leader</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/css/application.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- three.js library -->
        <script src='static/vendor/three/build/three.min.js'></script>
        <script src="static/vendor/three/examples/js/libs/stats.min.js"></script>
        <!-- ar.js -->
        <script src="static/vendor/ar/build/ar.js"></script>
    </head>
    <body>
        
        <div class="container" style="z-index: 2; position: relative">
            <!-- debug form for display marker -->
            <form id="input-form-marker" class="form-inline">
                <div class="form-group">
                    <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-marker" type="text" class="form-control" placeholder="Marker #" autofocus />
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
            <!-- debug form for display o,age -->
            <form id="input-form-image" class="form-inline">
                <div class="form-group">
                    <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-image" type="text" class="form-control" placeholder="Image url" autofocus />
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
            <!-- debug form for display position -->
            <form id="input-form-position" class="form-inline">
                <div class="form-group">
                    <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-x" type="text" class="form-control" placeholder="X (0-1)" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-y" type="text" class="form-control" placeholder="Y (0-1)" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-width" type="text" class="form-control" placeholder="Width (0-1)" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-height" type="text" class="form-control" placeholder="Height (0-1)" autofocus />
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
            
            <!-- global chat, for fun times -->
            <form id="input-form-chat" class="form-inline">
                <div class="form-group">
                    <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
                </div>
                <div class="form-group">
                    <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
            <div id="chat-text">
            </div>
            <!-- begin ar.js -->
            <script>
            </script>
            <!-- end ar.js -->
        </div>
        <script src='static/vendor/jsqrcode-packaged/build/jsqrcode.js'></script>
        <script type="text/javascript" src="${url_for('static', filename='js/jquery-2.0.3.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/reconnecting-websocket.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/chat.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/leader.js')}$"></script>
    </body>
</html>