<!DOCTYPE html>
<html>
  <head>
    <title>Leader</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- three.js library -->
    <script src='static/vendor/three/build/three.min.js'></script>
    <script src="static/vendor/three/examples/js/libs/stats.min.js"></script>
    <!-- ar.js -->
    <script src="static/vendor/ar/build/ar.js"></script>
  </head>
  <body>
    
    <div class="container" style="z-index: 2; position: relative">

      <form id="input-form-marker" class="form-inline">
        <div class="form-group">
          <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
        </div>
        <div class="form-group">
          <input id="input-marker" type="text" class="form-control" placeholder="Marker #" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>

      <form id="input-form-image" class="form-inline">
        <div class="form-group">
          <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
        </div>
        <div class="form-group">
          <input id="input-url" type="text" class="form-control" placeholder="Image url" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>

      <form id="input-form-position" class="form-inline">
        <div class="form-group">
          <input id="input-follower" type="text" class="form-control" placeholder="Follower ID" autofocus />
        </div>
        <div class="form-group">
          <input id="input-x" type="text" class="form-control" placeholder="X (0-1)" autofocus />
        </div>
        <div class="form-group">
          <input id="input-y" type="text" class="form-control" placeholder="Y (0-1)" autofocus />
        </div>
        <div class="form-group">
          <input id="input-width" type="text" class="form-control" placeholder="Width (0-1)" autofocus />
        </div>
        <div class="form-group">
          <input id="input-height" type="text" class="form-control" placeholder="Height (0-1)" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
      
      <div class="page-header">
        <h1>Chat Log</h1>
      </div>
      <div id="chat-text">
      </div>
<!-- begin ar.js -->
<script>
    //////////////////////////////////////////////////////////////////////////////////
    //      Init
    //////////////////////////////////////////////////////////////////////////////////

    // init renderer
    var renderer = new THREE.WebGLRenderer({
        // antialias    : true,
        alpha: true
    });
    renderer.setClearColor(new THREE.Color('lightgrey'), 0)
    // renderer.setPixelRatio( 1/2 );
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.domElement.style.position = 'absolute'
    renderer.domElement.style.top = '0px'
    renderer.domElement.style.left = '0px'
    document.body.appendChild( renderer.domElement );

    // array of functions for the rendering loop
    var onRenderFuncs = [];

    // init scene and camera
    var scene = new THREE.Scene();
    
    //////////////////////////////////////////////////////////////////////////////////
    //      Initialize a basic camera
    //////////////////////////////////////////////////////////////////////////////////

    // Create a camera
    var camera = new THREE.Camera();
    scene.add(camera);

    ////////////////////////////////////////////////////////////////////////////////
    //          handle arToolkitSource
    ////////////////////////////////////////////////////////////////////////////////

    var arToolkitSource = new THREEx.ArToolkitSource({
        // to read from the webcam 
        sourceType : 'webcam',   
    })

    arToolkitSource.init(function onReady(){
        onResize()
    })
    
    // handle resize
    window.addEventListener('resize', function(){
        onResize()
    })

    function onResize(){
        arToolkitSource.onResize()  
        arToolkitSource.copySizeTo(renderer.domElement) 
        if( arToolkitContext.arController !== null ){
            arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)    
        }   
    }

    ////////////////////////////////////////////////////////////////////////////////
    //          initialize arToolkitContext
    ////////////////////////////////////////////////////////////////////////////////
    

    // create atToolkitContext
    var arToolkitContext = new THREEx.ArToolkitContext({
        cameraParametersUrl: THREEx.ArToolkitContext.baseURL + '../data/data/camera_para.dat',
        // detectionMode: 'mono',
        detectionMode: 'mono_and_matrix',
        matrixCodeTypes: '3x3',
        maxDetectionRate: 30,
        debugUIEnabled: true,
        canvasWidth: 80*3,
        canvasHeight: 60*3,
    })
    // initialize it
    arToolkitContext.init(function onCompleted(){
        // copy projection matrix to camera
        camera.projectionMatrix.copy( arToolkitContext.getProjectionMatrix() );
    })

    // update artoolkit on every frame
    onRenderFuncs.push(function(){
        
        if( arToolkitSource.ready === false )   return
        // console.info("onrender facts 1 " + arToolkitSource.domElement)
        arToolkitContext.update( arToolkitSource.domElement )
    })
    
    
    ////////////////////////////////////////////////////////////////////////////////
    //          Create a ArMarkerControls
    ////////////////////////////////////////////////////////////////////////////////
    class MarkerDetector {
        constructor(markerId, scene) {
            this.markerId = markerId

            this.markerRoot = new THREE.Group()
            scene.add(this.markerRoot)
            this.artoolkitMarker = new THREEx.ArMarkerControls(arToolkitContext, this.markerRoot, {
                type: 'barcode',
                barcodeValue: markerId
            })

            // build a smoothedControls
            this.smoothedRoot = new THREE.Group()
            scene.add(this.smoothedRoot)
            this.smoothedControls = new THREEx.ArSmoothedControls(this.smoothedRoot, {
                lerpPosition: 0.4,
                lerpQuaternion: 0.3,
                lerpScale: 1,
            })

            var arWorldRoot = this.smoothedRoot

            // add a torus knot 
            var geometry    = new THREE.CubeGeometry(1,1,1);
            var material    = new THREE.MeshNormalMaterial({
                transparent : true,
                opacity: 0.5,
                side: THREE.DoubleSide
            }); 
            var mesh    = new THREE.Mesh( geometry, material );
            mesh.position.y = geometry.parameters.height/2
            arWorldRoot.add( mesh );
            
            function geometryFor(markerId) {
                var markerId = markerId % 3
                if (markerId == 0) {
                    return new THREE.TorusKnotGeometry(0.3,0.1,64,16);
                } else if (markerId == 1) {
                    return new THREE.CylinderGeometry(0.3,0.1,1,3.5); 
                } else {
                    return new THREE.PolyhedronGeometry(0.3,0.1,64,16); 
                }
            }
            var geometry    = geometryFor(markerId)
            var material    = new THREE.MeshNormalMaterial(); 
            this.mesh    = new THREE.Mesh( geometry, material );
            this.mesh.position.y = 0.5
            arWorldRoot.add( this.mesh );
            
        }

        update() {
            // console.info("update marker detector", this.markerId)
            this.smoothedControls.update(this.markerRoot)
            this.mesh.rotation.x += 0.1
        }
    }

    var detectors = [
        new MarkerDetector(0, scene),
        new MarkerDetector(1, scene)
    ]

    onRenderFuncs.push(function(delta){
        detectors.forEach(function(detector){
            detector.update()
        })
    })
    
    //////////////////////////////////////////////////////////////////////////////////
    //      render the whole thing on the page
    //////////////////////////////////////////////////////////////////////////////////
    var stats = new Stats();
    document.body.appendChild( stats.dom );
    // render the scene
    onRenderFuncs.push(function(){
        //console.info("onrender facts 3")
        renderer.render( scene, camera );
        stats.update();
    })

    // run the rendering loop
    var lastTimeMsec= null
    requestAnimationFrame(function animate(nowMsec){
        // keep looping
        requestAnimationFrame( animate );
        // measure time
        lastTimeMsec    = lastTimeMsec || nowMsec-1000/60
        var deltaMsec   = Math.min(200, nowMsec - lastTimeMsec)
        lastTimeMsec    = nowMsec
        // call each update function
        onRenderFuncs.forEach(function(onRenderFct){
            //console.info("onrender facts 5")
            onRenderFct(deltaMsec/1000, nowMsec/1000)
        })
    })
</script>
<!-- end ar.js -->
    </div>
    <script type="text/javascript" src="${url_for('static', filename='js/jquery-2.0.3.min.js')}$"></script>
    <script type="text/javascript" src="${url_for('static', filename='js/reconnecting-websocket.min.js')}$"></script>
    <script type="text/javascript" src="${url_for('static', filename='js/application.js')}$"></script>
  </body>
</html>