<!DOCTYPE html>
<html>
    <head>
        <title>Follower ${marker_id}$</title>
        <!-- thanks https://jeromeetienne.github.io/AR.js/three.js/examples/arcode.html -->
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"  media="screen,projection"/>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="qrcodeCanvasWrapper" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 30px">
            <div id="arcode-container" class="valign center" style="width: 100%;" ></div>
        </div>
        <div id="chat-text">
        </div>
        <script type="text/javascript" src="${url_for('static', filename='js/jquery-2.0.3.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/reconnecting-websocket.min.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/pubsub.js')}$"></script>
        <script type="text/javascript" src="${url_for('static', filename='js/follower.js')}$"></script>
        <script>
        setHeroImage("${url_for('static', filename='images/3x3/%s.png' % marker_id)}$");
        </script>
    </body>
</html>